<ons-page id="all_songs_page" data-css="css/all_songs_page.css">
    <ons-toolbar modifier="cover-content transparent">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">
            <ons-icon icon="md-sort-asc"></ons-icon>
            Songs alphabetized
        </div>
    </ons-toolbar>
    <ons-fab id="toTop" style="visibility: hidden;" position="top right" class="glassyFloat"
             onclick='document.querySelector("#all_songs_page .page__content").scrollTo({top: 0, left: 0, behavior: "smooth"})'>
        <ons-icon icon="md-long-arrow-up"></ons-icon>
    </ons-fab>
    <div class="gutter">
       <ons-list class="glassyEach">
           <ons-lazy-repeat id="lazy-list">
               <div style="height: calc(100vh - 100px); display: flex; justify-content: center;
                               align-items: center; flex-flow: column;">
                   <span style="margin-top: -24px; padding-bottom: 24px; font-size: x-large;">
                       Loading...
                   </span>
                   <ons-progress-circular indeterminate></ons-progress-circular>
               </div>
           </ons-lazy-repeat>
       </ons-list>
    </div>
</ons-page>
