<ons-page id="home_content_page" data-css="css/home_content_page.css">
  <div class="gutter" style="opacity: 0; transition: opacity 0.3s;">
    <div class="glassy search-container">
       <ons-icon icon="md-search" onclick="document.getElementById('search-input').focus()"></ons-icon>
       
       <ons-input id="search-input" class="search-box"
          placeholder="Search" onfocus='openSearchPage()' 
          autocapitalize="off" autocomplete="off" spellcheck="false" autocorrect="off">
       </ons-input>
    </div>

    <div id="content_div">
        <ons-list>
            <ons-list-header id="recentHeader" style="display: none;">
                <ons-icon icon="md-time-countdown"></ons-icon> Recents
            </ons-list-header>
            <div id="recents" class="glassy">
                <div id="broadcasts"></div>
                <div id="recents-items"></div>
            </div>
        </ons-list>
        <ons-list class="glassy" style="margin-top: 15px;">
            <ons-list-item modifier="chevron" tappable id="allSongs">
                <div class="left">
                    <ons-icon icon="md-sort-asc"></ons-icon>
                </div>
                Songs alphabetized
            </ons-list-item>
            <ons-list-item modifier="chevron" tappable id="pronounceGuide">
                <div class="left">
                    <ons-icon icon="md-graphic-eq"></ons-icon>
                </div>
                Pronouncation Guide
            </ons-list-item>
            <ons-list-item modifier="chevron" tappable id="settingsBtn">
                <div class="left">
                    <ons-icon icon="md-settings"></ons-icon>
                </div>
                Settings
            </ons-list-item>
        </ons-list>
    <div class="default_img_container" style="height: unset; padding: unset; padding-top: 15px;">
       <img style="box-shadow: var(--thumbnail-shadow);" src="img/home_default.jpg" />
    </div>
    </div>
  </div>
</ons-page>
