<ons-page id="list_page" data-css="css/list_page.css">
    <ons-toolbar modifier="cover-content transparent">
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="right">
            <ons-toolbar-button>
                <ons-icon icon="md-more-vert"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div class="gutter">
       <span id="infoBlurb" class= "list-header list-header--material">
           Long press to rearange items.
       </span>
       <ons-list id="list-list" class="glassy">
       </ons-list>
    </div>

    <ons-popover cancelable direction="left">
        <!-- This is only showed for title -->
        <ons-button class="shareBtn" modifier="quiet">
            <ons-icon size="24px" icon="md-share"></ons-icon>
        </ons-button>
        <!-- ------------------------------ -->
        <ons-button class="deleteBtn" modifier="quiet">
            <ons-icon size="24px" style="color:red;" icon="md-delete"></ons-icon>
        </ons-button>
    </ons-popover>
</ons-page>
