<ons-page id="lists_page">
    <div class="gutter">
       <ons-list id="custom_lists" style="margin-top: 15px;">
           <ons-list-item modifier="chevron" tappable id="sharedLists" style="display: none;">
               <div class="left">
                   <ons-icon icon="md-cloud-download"></ons-icon>
               </div>
               <div class="center">
                   <span class="list-item__title">Shared Lists</span>
                   <span class="list-item__subtitle">Lists shared by others</span>
               </div>
           </ons-list-item>
       </ons-list>
       
       <ons-list style="margin: 15px 0;">
           <ons-list-header>Lists by tattva</ons-list-header>
           <div id="tattva_lists" class="glassy"></div>
       </ons-list>
    </div>

    <ons-popover cancelable direction="left">
        <ons-button class="shareBtn" modifier="quiet">
            <ons-icon size="24px" icon="md-share"></ons-icon>
        </ons-button>
        <ons-button class="deleteBtn" modifier="quiet">
            <ons-icon size="24px" style="color:red;" icon="md-delete"></ons-icon>
        </ons-button>
    </ons-popover>
</ons-page>
