<ons-page id="pronounce_page" data-css="css/pronounce_page.css">
    <ons-toolbar modifier="cover-content transparent">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">
            <ons-icon icon="md-graphic-eq"></ons-icon>
            Pronouncation Guide
        </div>
    </ons-toolbar>

    <div class="gutter">
       <audio id="audio"></audio>
       <span style="font-size: large;">
          Below is a mapping of Bengali letters to the latin equivalents. Tapping any
          item with a hear "<ons-icon icon="md-hearing"></ons-icon>" icon on the 
          right, will play the Bengali pronouncation of that letter.
       </span>
       <ons-list id="pronounce-list" class="glassy"
                 style="font-family: 'Baloo Da 2', sans-serif; margin: 15px 0;">
       </ons-list>
    </div>
</ons-page>
