<ons-page id="search_page">
    <div class="gutter">
        <div class="glassyFloat search-container" style="position: sticky; z-index: 100;">
            <ons-icon icon="md-arrow-back" 
                      onclick="document.querySelector('#navigator').popPage()">
            </ons-icon>
            
            <ons-input class="search-box" placeholder="Search" 
               autocapitalize="off" autocomplete="off" spellcheck="false" autocorrect="off">
            </ons-input>
        </div>

        <ons-list id="search-list-page">
            <div id="search-hint-add" class="list-header list-header--material" style="display: none;">
                <i>Type to find a song to add to the list</i>
            </div>
            <div class="default_img_container">
                <img src="img/search_default.png" />
            </div>
        </ons-list>
    </div>
</ons-page>
