<ons-page id="songView_page" data-css="css/songView_page.css">
    <ons-toolbar modifier="cover-content transparent">
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="right">
            <ons-toolbar-button id="songViewMenuBtn" ripple="false">
                <ons-icon icon="md-more-vert"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <span id="transAvail" class= "list-header list-header--material"></span>
    <ons-list id="verseList"></ons-list>
    <div id="footerSpacer" style="height: 33vh;">
       <div style="height: 100%"></div>
    </div>

    <ons-popover id="songViewPopover" cancelable cover-target>
        <ons-list>
            <ons-list-item id="listBtn" tappable modifier="nodivider">
                <div class="left">
                    <ons-icon icon="md-collection-plus"></ons-icon>
                </div>
                <div class="center">
                    add to List
                </div>
            </ons-list-item>
            <ons-list-item id="announceBtn" tappable modifier="nodivider" style="display: none;">
                <div class="left">
                    <ons-icon icon="md-rss"></ons-icon>
                </div>
                <div class="center">
                    Announce
                </div>
            </ons-list-item>
        </ons-list>
    </ons-popover>
</ons-page>
